<div class="container">
	<h1 class="mt-5">Customers</h1>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Id</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let customer of Customers">
				<td>{{customer.id}}</td>
				<td>{{customer.firstName}}</td>
				<td>{{customer.lastName}}</td>
				<td class="btn-holder">
                    <a [routerLink]="['/customers/', customer.id]" class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i></a>
                    <button type="button" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                </td>
			</tr>
		</tbody>
	</table>

</div>
